{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
GroupFit &middot; About
{% endblock %}

{% block content %}

<div class="page-header">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        About Group<strong>Fit</strong>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p>
      GroupFit is a dynamic fitness website that makes it easier than ever to work out with your friends. 
      Any group (group of friends, yoga class, college wrestling team, etc) can add motivation and fun to 
      exercise with exciting features like playlists and color-coded graphs. So invite your friends, 
      set your goal, and watch your group make progress with each workout to ultimate fitness!
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">

    <h1 class="page-header">The Team</h1>
    <div class="row">

      <div class="col-md-12">
        <h3>Michel Rouly <small>GMU, CS '15</small></h3>
        <blockquote>
          <p>
            Michel is an undergraduate in Computer Science at George
            Mason University, Fairfax VA. He leads the George Mason
            Student-Run Computing and Technology student organization.
          </p>
          <small><cite>
            <a
            href="http://michel.rouly.net">michel.rouly.net</a>
          </cite></small>
        </blockquote>
      </div>

      <div class="col-md-12">
        <h3>Mary Ann Jin <small>MIT, CS '16</small></h3>
        <blockquote>
          <p>
            Mary Ann is a undergraduate in Computer Science at MIT. She 
            interns part-time as a Software Developer for IBM.
          </p>
          <small><cite>
            <a href="http://www.linkedin.com/pub/mary-ann-jin/68/981/3b0">LinkedIn</a>
          </cite></small>
        </blockquote>
      </div>
      
      <div class="col-md-12">
        <h3>Chae Won Lee <small>MIT, degree '15</small></h3>
        <blockquote>
          <p>
            Lee Chae-Won is a South Korean cross country skier who has
            competed since 1999. Competing in three Winter Olympics, she
            earned her best finish of 52nd in the individual sprint event
            at Salt Lake City in 2002.
          </p>
          <small><cite>
            <a href="http://en.wikipedia.org/wiki/Lee_Chae-Won">Wikipedia</a>
          </cite></small>
        </blockquote>
      </div>

      <div class="col-md-12">
        <h3>Mirim Yoo <small>MIT, EECS '16</small></h3>
        <blockquote>
          <p>
            Sheep are quadrupedal, ruminant mammals typically kept as
            livestock. Like all ruminants, sheep are members of the order
            Artiodactyla, the even-toed ungulates.
          </p>
          <small><cite>
            <a href="http://www.sheep101.info">www.sheep101.info</a>
          </cite></small>
        </blockquote>
      </div>

    </div>

  </div>
</div>



{% endblock %}
