{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
GroupFit &middot; About
{% endblock %}

{% block content %}

<div class="page-header">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        About Group<strong>Fit</strong>
      </h1>
      <p>
        GroupFit is a dynamic fitness website that makes it easier than ever to work out with your friends. 
       Any group (group of friends, yoga class, college wrestling team, etc) can add motivation and fun to 
       exercise with exciting features like playlists and color-coded graphs. So invite your friends, 
       set your goal, and watch your group make progress with each workout to ultimate fitness!
      </p>
    </div>
  </div>
</div>

{% endblock %}
