{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
GroupFit &middot; Reset Password
{% endblock %}

{% block content %}

<div class="row vertical-offset-100">
  <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <form id="forgot-form" method="post" class="form-horizontal"
    action=""> {% csrf_token %}
      <fieldset>
        <div class="panel panel-default">

          <div class="panel-heading">
            <h1 class="panel-title">
              Type in your username and email. 
            </h1>
          </div>

          <div class="panel-body">

            <div class="form-group{% if form.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  {{ forgot_password_form.username }}
                </div>
                {% for error in forgot_password_form.username.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group{% if form.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </span>
                  {{ forgot_password_form.email }}
                </div>
                {% for error in forgot_password_form.email.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
            
            <div class="form-group{% if form.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </span>
                  {{ forgot_password_form.new_pw }}
                </div>
                {% for error in forgot_password_form.new_pw.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
            
            <div class="form-group{% if form.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </span>
                  {{ forgot_password_form.confirm_new_pw }}
                </div>
                {% for error in forgot_password_form.confirm_new_pw.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <input type="submit" name="submit" id="submit"
            class="btn btn-danger btn-lg btn-block" value="Submit" />

          </div>

        </div>

      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
