<div class="row">
  <div class="col-lg-12">

    <h1 class="page-header">Your Current Goals</h1>

    {% for group in groups %}
      {% if group.user == user %}
        {% for goal in group.goals.all %}
        <div class="list-group">
          <a class="list-group-item" href="{{group.get_absolute_url}}">
            <h4 class="list-group-item-heading">{{goal.name}}</h4>
            <p class="list-group-item-text">
              {{ goal.target_date|timeuntil }} remaining!
            </p>
          </a>
        </div>
        {% endfor %}
      {% endif %}
    {% empty %}
    no groups
    {% endfor %}
  </div>
</div>
