{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
GroupFIT &middot; Terms of Service
{% endblock %}

{% block content %}

<div class="page-header">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        Terms of Service
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend
      purus eu turpis vestibulum, vel bibendum ligula sagittis. Sed accumsan
      laoreet lacinia. Integer eget arcu enim. Morbi eu sem neque. Cum sociis
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. In quam odio, malesuada ut luctus lobortis, molestie ut diam. Sed
      sit amet sodales neque. Praesent ac urna lobortis quam ultricies porta.
      Sed iaculis congue erat, sit amet placerat nibh congue nec. In
      porttitor nisi in convallis accumsan. Aliquam ut orci est. Duis non mi
      volutpat lectus sagittis fermentum. Phasellus elementum venenatis
      tellus eu tristique.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Aenean pretium pulvinar neque</h3>
    <p>
    Aenean pretium pulvinar neque et condimentum. Aenean ut leo a libero
    pharetra iaculis a a sem. Sed tempor vulputate risus nec venenatis.
    Nullam id dapibus urna. Vivamus sed pulvinar mauris. Suspendisse
    potenti. Morbi metus lacus, convallis sed mi sit amet, egestas eleifend
    felis.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Aenean vel velit vestibulum, cursus justo sed</h3>
    <p>
    Aenean vel velit vestibulum, cursus justo sed, fringilla metus. Cras
    adipiscing pretium nisl, vel consectetur massa rhoncus in. Sed arcu
    felis, pellentesque non lacus at, consequat luctus nunc. Praesent
    egestas blandit mi, sit amet bibendum velit rutrum venenatis. Morbi sit
    amet ultricies lacus. Vestibulum orci lectus, elementum nec diam a,
    porta aliquet nisl. Nullam porta porttitor orci, ut feugiat eros
    condimentum quis.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h1>Donec non quam neque</h1>
    <p>
    Donec non quam neque. Etiam ac consectetur diam. Curabitur commodo
    mollis elit, vitae eleifend lacus. Donec at tortor tincidunt, tristique
    risus a, tempus tortor. Aliquam varius sapien eget magna laoreet
    euismod. Praesent et lectus malesuada, semper nisl quis, commodo magna.
    Sed quis leo vel velit suscipit pellentesque. Aenean at erat in sem
    fermentum dictum quis vitae elit. In ultrices aliquam metus, in laoreet
    augue consectetur ac. Sed rhoncus pharetra adipiscing. Cras quis libero
    eget odio elementum laoreet. Integer ultricies nisl non aliquet
    fermentum. Morbi eget pharetra orci. Suspendisse id mi accumsan,
    bibendum enim non, dignissim velit. Quisque tincidunt odio iaculis
    turpis aliquet adipiscing.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>
    <h3>Sed commodo ante dui, aliquam consequat</h3>
    Sed commodo ante dui, aliquam consequat leo porttitor vel. Integer et
    interdum urna, vitae molestie turpis. Mauris ultricies tincidunt arcu,
    ac dictum dui placerat sed. Curabitur tincidunt viverra scelerisque.
    Nam a fermentum nibh. Vivamus id magna sed velit venenatis convallis id
    ut odio. Vestibulum euismod nibh et venenatis pretium. Mauris venenatis
    metus at pharetra vehicula. Cum sociis natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>
    <h3>Ut vitae suscipit eros</h3>
    Ut vitae suscipit eros. Nam sagittis ipsum vehicula lectus adipiscing,
    sed auctor massa pharetra. Pellentesque porttitor nisi a dui pharetra
    semper. Vivamus posuere egestas molestie. Nulla facilisi. Morbi tempus
    orci a ante rhoncus mollis. Ut varius lectus fringilla porttitor
    interdum. Vivamus viverra malesuada libero eu feugiat. Curabitur tempus
    viverra augue a auctor.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Etiam in augue vitae velit rutrum feugiat</h3>
    <p>
    Etiam in augue vitae velit rutrum feugiat. Quisque fermentum tellus id
    accumsan egestas. In tempus nibh vel augue mattis, ut mattis odio
    lacinia. Nunc suscipit tincidunt dictum. Nulla facilisi. Integer at
    lectus feugiat, fringilla justo eu, interdum tellus. Suspendisse sit
    amet purus adipiscing nisi facilisis vestibulum. Vivamus a mattis
    risus. Integer sit amet sagittis tellus. Fusce ut velit blandit,
    faucibus magna non, porttitor dolor. Nulla vestibulum, orci et
    tincidunt fringilla, sem libero pulvinar lacus, a imperdiet sapien
    neque a orci. In tempor a mi ut mattis. Donec ut diam congue, convallis
    mi eget, molestie odio. Interdum et malesuada fames ac ante ipsum
    primis in faucibus. Quisque ac cursus quam. Aenean leo metus, hendrerit
    vel vulputate sed, rhoncus pretium magna.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h1>Phasellus dapibus vel tortor vitae scelerisque</h1>
    <p>
    Phasellus dapibus vel tortor vitae scelerisque. Mauris quis sodales
    elit, sit amet convallis orci. Pellentesque dui augue, ullamcorper ac
    lorem quis, fringilla fringilla ipsum. Duis adipiscing velit et rutrum
    tempus. Nullam rhoncus dignissim dictum. In pharetra magna nec justo
    facilisis, et molestie urna elementum. Donec ut magna lobortis,
    suscipit nibh sit amet, aliquam justo. Morbi sollicitudin lectus vitae
    blandit mollis. Proin erat tellus, congue et nunc ut, laoreet varius
    magna. Proin imperdiet ultrices risus eget porta. Mauris dapibus varius
    vehicula.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h1>Curabitur imperdiet sed mi eu bibendum</h1>
    <p>
    Curabitur imperdiet sed mi eu bibendum. Vivamus eget orci leo. Integer
    nec consectetur orci, vel semper dui. Proin iaculis, dolor posuere
    vestibulum ultrices, augue nibh sollicitudin purus, ut blandit massa
    urna vel ipsum. Nullam dignissim tempor dolor, id porta ligula interdum
    pellentesque. Nullam rhoncus vulputate urna et vulputate. Donec viverra
    massa pretium egestas scelerisque. Vivamus cursus rhoncus augue, vitae
    euismod eros semper quis.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Vestibulum viverra leo mollis condimentum porttitor</h3>
    <p>
    Vestibulum viverra leo mollis condimentum porttitor. Integer placerat
    dignissim dignissim. Pellentesque at metus gravida, tempor magna vitae,
    lobortis mi. Phasellus non dictum est, sed congue metus. Vestibulum
    semper nisi pretium dolor tristique placerat. Suspendisse aliquet,
    lorem eget egestas dignissim, leo nisi ultrices purus, sit amet semper
    tellus urna id sapien. Etiam egestas suscipit ipsum vitae elementum.
    Vestibulum magna urna, vulputate malesuada tortor a, gravida aliquet
    elit. Proin laoreet felis nulla, consectetur euismod nisl tincidunt a.
    Sed bibendum id quam consectetur commodo. Cras lobortis vehicula
    tortor, et pulvinar magna aliquet vitae. Ut ultricies est odio, id
    interdum lectus placerat at. Donec venenatis congue hendrerit. Praesent
    id nisl purus. 
    </p>
  </div>
</div>

{% endblock %}
