
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">

        <h1>Group<strong>Fit</strong></h1>
        <p>Working out with friends is fun. Keeping charts and logs of your
        workouts isn't. With GroupFit, your progress is analyzed and
        annotated automatically, letting you keep your head in the game.</p>

        <a class="btn btn-lg btn-success"
        href="{% url 'users.views.create_user' %}">Join now!</a>

      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <i class="fa fa-user"></i>
          Workout
        </div>
      </div>
      <div class="panel-body">
        <p>
          Workout daily, weekly, or whenever, and keep brief logs on your
          user profile. GroupFit will automatically tabulate your results
          and compare them against your previous workouts and your
          friends.
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <i class="fa fa-users"></i>
          Share
        </div>
      </div>
      <div class="panel-body">
        <p>
          GroupFit helps you connect with your friends and share your
          fitness progress together. You can even share your favourite
          workout playlist with your buddies. Never workout alone again.
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <i class="fa fa-trophy"></i>
          Level Up
        </div>
      </div>
      <div class="panel-body">
        <p>
          Whenever you complete a goal, you earn a trophy! Compete with
          your friends to earn the most, or work together with a group to
          earn trophies together.
        </p>
      </div>
    </div>
  </div>

</div>
