<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">

        <h1>Group<strong>Fit</strong></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
        tincidunt tincidunt venenatis. Aliquam sollicitudin nibh ac turpis
        tempus, dictum tempus est faucibus.</p>

        <a class="btn btn-lg btn-success"
        href="{% url 'django.contrib.auth.views.login' %}">Join now!</a>

      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <i class="fa fa-user"></i>
          Workout
        </div>
      </div>
      <div class="panel-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur accumsan blandit arcu, a tristique est
          sollicitudin ac. Proin consequat tellus justo, in mollis
          nulla pretium eu. Vestibulum sodales tortor sit amet
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <i class="fa fa-users"></i>
          Share
        </div>
      </div>
      <div class="panel-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur accumsan blandit arcu, a tristique est
          sollicitudin ac. Proin consequat tellus justo, in mollis
          nulla pretium eu. Vestibulum sodales tortor sit amet
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <i class="fa fa-trophy"></i>
          Level Up
        </div>
      </div>
      <div class="panel-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur accumsan blandit arcu, a tristique est
          sollicitudin ac. Proin consequat tellus justo, in mollis
          nulla pretium eu. Vestibulum sodales tortor sit amet
        </p>
      </div>
    </div>
  </div>

</div>
