{% load gravatar %}

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Group<strong>Fit</strong></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">

      <ul class="nav navbar-nav">
        <li><a href="{% url 'groupfit.views.about' %}">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="navbar-avatar">
          {% gravatar user.email 32 user.email %}
        </li>
        <li>
          <a href="{% url 'users.views.home' %}">
            {{ user.first_name }}
          </a>
        </li>
        <li><a href="{% url 'django.contrib.auth.views.logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'django.contrib.auth.views.login' %}">Log In</a></li>
        {% endif %}
      </ul>

    </div>


  </div>
</div>
