{% load gravatar %}

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Group<strong>Fit</strong></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">

      <ul class="nav navbar-nav">
        <li><a href="{% url 'groupfit.views.about' %}">About</a></li>
        
        <li><a href="{% url 'groupfit.views.community' %}">Community</a></li>
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            My Groups <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% for group in user.userprofile.groups.all %}
              {% if group.privacy == 'public'  %}
            <li><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></li>
              {% endif %}
            {% empty %}
            <li class="disabled"><a>None Found</a></li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="{% url 'groups.views.create_group' %}">Create Group</a></li>
          </ul>
        </li>
        
          
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            My Playlists <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% for playlist in user.userprofile.playlists.all %}
            <li><a href="{{ playlist.get_absolute_url }}">{{ playlist.name }}</a></li>
            {% empty %}
            <li class="disabled"><a>None Found</a></li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="{% url 'playlists.views.create_playlist' %}">Create Playlist</a></li>
          </ul>
        </li>
        {% endif %}

      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="navbar-avatar">
          {% gravatar user.email 32 user.email %}
        </li>
        <li>
          <a href="{% url 'users.views.view_user' %}">
            {{ user.first_name }}
          </a>
        </li>
        <li><a href="{% url 'django.contrib.auth.views.logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'django.contrib.auth.views.login' %}">Log In</a></li>
        {% endif %}
      </ul>

    </div>


  </div>
</div>
