<script>

$(function() {

  // Set up references to the hidden fields.
  var privacy_field = $("#{{edit_profile_form.privacy.id_for_label}}");

  // Add a listener to the dropdown menu.
  $("#privacy-dropdown").change(function(){

    // Get the selected privacy setting.
    var privacy = $("#privacy-dropdown").find(":selected").text();

    // Set the appropriate activity after a change is made.
    if( privacy === "Public" || privacy === "Private" ){
      privacy_field.val( privacy );
    }

  });

  // Initialize the two hidden fields with the initial values.
  $("#privacy-dropdown").change();

});

</script>

<div class="form-group{%if edit_profile_form.errors%} has-error{%endif%}">
  {% for error in edit_profile_form.errors %}
    <span class="col-lg-2 control-label"></span>
    <span class="col-lg-10 help-block">{{error}}</span>
  {% endfor %}
</div>

<div class="form-group{%if edit_profile_form.first_name.errors%} has-error{%endif%}">
  <div class="col-lg-12">
    {% if user.is_authenticated %}
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-user"></i>
      </span>
      <span class="form-control">{{ user.username }}</span>
    </div>
    {% endif  %}
  </div>
</div>

<div class="form-group{%if edit_profile_form.first_name.errors%} has-error{%endif%}">
  <div class="col-lg-12">
    {% if user.is_authenticated %}
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-envelope"></i>
      </span>
      <span class="form-control">{{ user.email }}</span>
    </div>
    {% endif  %}
  </div>
</div>

<div class="form-group">
    <div class="col-lg-12">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-flag"></i>
        </span>
        <select class="form-control" id="privacy-dropdown">
          <option selected value="">Privacy Level</option>
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
      </div>
  </div>
</div>

{{ edit_profile_form.privacy }}

<div class="form-group{%if edit_profile_form.first_name.errors%} has-error{%endif%}">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-user"></i>
      </span>
      {{ edit_profile_form.first_name }}
    </div>
    {% for error in edit_profile_form.first_name.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
</div>

<div class="form-group{%if edit_profile_form.last_name.errors%} has-error{%endif%}">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-user"></i>
      </span>
      {{ edit_profile_form.last_name }}
    </div>
    {% for error in edit_profile_form.last_name.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
</div>


<div class="form-group">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-pencil"></i>
      </span>
      {{ edit_profile_form.new_password }}
    </div>
    {% for error in edit_profile_form.new_password.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}    
  </div>
</div>


<div class="form-group">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-pencil"></i>
      </span>
      {{ edit_profile_form.confirm_password }}
    </div>
    {% for error in edit_profile_form.confirm_password.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}  
  </div>
</div>


