{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
GroupFit &middot; Register
{% endblock %}

{% block content %}

<div class="row vertical-offset-100">
  <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <form id="register-form" method="post" class="form-horizontal"
    action=""> {% csrf_token %}
      <fieldset>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">
              Please Enter Your User Information
            </h1>
          </div>

          <div class="panel-body">

            <div class="form-group{% if create_user_form.username.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  {{ create_user_form.username }}
                </div>
                {% for error in create_user_form.username.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group{% if create_user_form.first_name.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  {{ create_user_form.first_name }}
                </div>
                {% for error in create_user_form.first_name.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group{% if create_user_form.last_name.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  {{ create_user_form.last_name }}
                </div>
                {% for error in create_user_form.last_name.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group{% if create_user_form.password.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-pencil"></i>
                  </span>
                  {{ create_user_form.password }}
                </div>
                {% for error in create_user_form.password.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            
            <div class="form-group{% if create_user_form.confirm_password.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-pencil"></i>
                  </span>
                  {{ create_user_form.confirm_password }}
                </div>
                {% for error in create_user_form.confirm_password.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>


            <div class="form-group{% if create_user_form.email.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </span>
                  {{ create_user_form.email }}
                </div>
                {% for error in create_user_form.email.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <input type="submit" name="submit" id="submit"
            class="btn btn-success btn-lg btn-block" value="Submit" />
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
