{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
GroupFit &middot; Register
{% endblock %}

{% block content %}
<script>
$(function() {

  function passMatcher( pass, match ) {
    if( match === pass ) {
      $("#passmatch").collapse('hide');
    } else {
      $("#passmatch").collapse('show');
    }
  }

  $("#id_password, #id_confirm_password").bind('input', function(){
    var match = $("#id_confirm_password").val();
    var pass  = $("#id_password").val();
    passMatcher( pass, match );
  });

});

$(function() {

  // Set up references to the hidden fields.
  var privacy_field = $("#{{group_form.privacy.id_for_label}}");

  // Add a listener to the dropdown menu.
  $("#privacy-dropdown").change(function(){

    // Get the selected privacy setting.
    var privacy = $("#privacy-dropdown").find(":selected").text();

    // Hide the inputs by default. Show only if necessary.
    $("#privacy-input-frame").hide();

    // Depending on the activity, set units differently.
    switch( privacy ){
    case 'Public':
      break;
    case 'Private':
      break;
    default:
      $("#privacy-input-frame").show();
      var input_privacy = $("#privacy-input").val();
      if( input_privacy != "" ) { privacy = input_privacy; }
    }

    // Set the appropriate activity after a change is made.
    privacy_field.val( privacy );
  });

  // Initialize the two hidden fields with the initial values.
  $("#privacy-dropdown").change();

  // Always tie the input field to the appropriate form field.
  $("#privacy-input").bind('input', function(){
    privacy_field.val( $("#privacy-input").val() );
  });

});
</script>

<div class="row vertical-offset-100">
  <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <form id="register-form" method="post" class="form-horizontal"
    action=""> {% csrf_token %}
      <fieldset>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">
              Please Enter Your User Information
            </h1>
          </div>

          <div class="panel-body">

            <div class="form-group{% if create_user_form.username.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  {{ create_user_form.username }}
                </div>
                {% for error in create_user_form.username.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group">
               <div class="col-lg-12">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-flag"></i>
                    </span>
                    <select class="form-control" id="privacy-dropdown">
                      <option selected value="public">Public</option>
                      <option value="private">Private</option>
                    </select>
                 </div>
              </div>
            </div>
            
            {{ privacy_form.privacy }}
            
            <div class="form-group" id="privacy-input-frame">
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-flag"></i>
                        </span>
                        <input type="text" placeholder="Privacy Setting"
                            class="form-control" id="privacy-input" />
                    </div>
                </div>
            </div>

            <div class="form-group{% if create_user_form.first_name.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  {{ create_user_form.first_name }}
                </div>
                {% for error in create_user_form.first_name.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group{% if create_user_form.last_name.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  {{ create_user_form.last_name }}
                </div>
                {% for error in create_user_form.last_name.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group{% if create_user_form.password.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-pencil"></i>
                  </span>
                  {{ create_user_form.password }}
                </div>
                {% for error in create_user_form.password.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div id="passmatch" class="form-group collapse">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-exclamation-circle"></i>
                  </span>
                  <span class="form-control" >Passwords don't match</span>
                  <span class="input-group-addon">
                    <i class="fa fa-exclamation-circle"></i>
                  </span>
                </div>
              </div>
            </div>

            
            <div class="form-group{% if confirm_password_form.confirm_password.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-pencil"></i>
                  </span>
                  {{ confirm_password_form.confirm_password }}
                </div>
                {% for error in confirm_password_form.confirm_password.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>


            <div class="form-group{% if create_user_form.email.errors %} has-error{% endif %}">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </span>
                  {{ create_user_form.email }}
                </div>
                {% for error in create_user_form.email.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <input type="submit" name="submit" id="submit"
            class="btn btn-success btn-lg btn-block" value="Submit" />
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
