{% extends 'base.html' %}
{% load gravatar %}
{% load staticfiles %}

{% block title %}
GroupFit
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-4">

    <h3>{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>

    <div class="row">
      <div class="col-xs-4 col-md-6">
        <a href="{% gravatar_url profile.user.email 512 %}" class="thumbnail">
          {% gravatar profile.user.email 256 "Your Gravatar photo." %}
        </a>
      </div>
      <div class="col-xs-8 col-md-6">
        <div style="background-color: #FF6699;">info goes here</div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">My Trophies</h1>
          </div>
          <div class="panel-body">
            Trophies.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">My Groups</h1>
          </div>
          <div class="panel-body">
            Trophies.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">My Playlists</h1>
          </div>
          <div class="panel-body">
            Trophies.
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}
