{% extends 'base.html' %}
{% load gravatar %}
{% load staticfiles %}

{% block title %}
GroupFit
{% endblock %}

{% block content %}


<div class="page-header">
  <div class="row">
    <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">

    <div class="row">

      <div class="col-xs-4 col-md-6">
        <div class="thumbnail">

          <a href="{% gravatar_url profile.user.email 512 %}">
            {% gravatar profile.user.email 256 "Your Gravatar photo." %}
          </a>

        </div>
      </div>

      {% if user.pk == profile.user.pk %}
      <div class="col-xs-8 col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
              <button class="btn btn-info btn-sm btn-block">Edit Profile</button>
          </div>
        </div>
      </div>
      {% endif %}

    </div>



    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title text-center">
              <span class="pull-left">
                <i class="fa fa-trophy"></i>
              </span>
              Trophies
            </h1>
          </div>
          <div class="panel-body">
            {% for trophy in profile.trophies.all %}
            {% empty %}
            <div class="text-center">
              No trophies won yet.
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title text-center">
              <span class="pull-left"><i class="fa fa-users"></i></span>
              Groups
              {% if user.pk == profile.user.pk %}
              <span class="pull-right">
                <a href="{% url 'groups.views.create_group' %}">
                  <i class="fa fa-plus-square"></i>
                </a>
              </span>
              {% endif %}
            </h1>
          </div>
          <div class="panel-body">
            {% for group in profile.groups.all %}
              <a href="{{ group.get_absolute_url }}">
                {{ group.name }}
              </a>{% if user.pk == profile.user.pk %} &middot;
              <a href="{% url 'groups.views.leave_group' group.pk %}">
              (leave)
              </a>{% endif %}
              <br/>
            {% empty %}
            <div class="text-center">
              No groups found.
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title text-center">
              <span class="pull-left"><i class="fa fa-music"></i></span>
              Playlists
              {% if user.pk == profile.user.pk %}
              <span class="pull-right">
                <a href="{% url 'playlists.views.create_playlist' %}">
                  <i class="fa fa-plus-square"></i>
                </a>
              </span>
              {% endif %}
            </h1>
          </div>
          <div class="panel-body">
            {% for playlist in profile.playlists.all %}
            <a href="{{ playlist.get_absolute_url }}">
              {{ playlist.name }}
            </a>{% if user.pk == profile.user.pk %} &middot;
            <a href="{% url 'playlists.views.delete_playlist' playlist.pk %}">
              (delete)
            </a>{% endif %}
            <br/>
            {% empty %}
            <div class="text-center">
              No playlists found.
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-8">

    <div class="row">
      <div class="col-lg-12">

        <div class="panel panel-info">
          <div class="panel-heading">
            <h1 class="panel-title">Progress Charts</h1>
          </div>
          <div class="panel-body">
            Charts go here?
          </div>
        </div>

      </div>
    </div>

    {% if user.pk == profile.user.pk %}
    <div class="row">
      <div class="col-lg-12">

        <div class="panel">
          <button class="btn btn-success btn-lg btn-block">
            <i class="fa fa-plus"></i>
            &nbsp;
            Add Workout
          </button>
        </div>

      </div>
    </div>
    {% endif %}

    <hr/>

    {% if user.pk == profile.user.pk %}
    <div class="row">
      <div class="col-lg-12">

        <div class="panel panel-default">
          <a class="btn btn-primary btn-lg btn-block"
          href="{% url 'users.views.create_user_goal' %}">
            <i class="fa fa-plus"></i>
            &nbsp;
            Add Goal
          </a>
        </div>

      </div>
    </div>
    {% endif %}



    {% for goal in profile.goals.all %}
    <div class="row">
      <div class="col-lg-12">

        <div class="panel panel-info">
          <div class="panel-heading">
            <h1 class="panel-title">{{ goal.name }}</h1>
          </div>
          <div class="panel-body">
            <p><strong>
              {{ goal.target_date|timeuntil }} remaining!
            </strong></p>
            {% if goal.description %}
            <p>
              <strong><em>{{ goal.description }}</em></strong>
            </p>
            {% endif %}
            <p>
              <strong>Activity:</strong>
              {{ goal.activity }}
            </p>
            <p>
              <strong>Target:</strong>
              {{ goal.amount }} <em>{{ goal.units }}</em>
            </p>
          </div>
        </div>

      </div>
    </div>
    {% empty %}
    <div class="row">
      <div class="col-lg-12">

        <div class="alert alert-danger text-center">
          No goals set!
        </div>

      </div>
    </div>
    {% endfor %}



  </div>

</div>

{% endblock %}
