/* Sticky footer styles
-------------------------------------------------- */

html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto;
/* Negative indent footer by its height */
margin: 0 auto -35px;
/* Pad bottom by footer height */
padding: 0 0 35px;
}

/* Set the fixed height of the footer here */
#footer {
height: 35px;
}

/* Custom CSS extensions
-------------------------------------------------- */

.vertical-offset-100 {
  margin-top: 100px;
}

textarea {
  resize: none;
}

h1 p.lead {
  display: inline;
}

.tab-content {
  margin-top: 20px;
}

.tab-content .list-group {
  margin-bottom: 0px;
}

/* Navbar avatar icon tweaks
-------------------------------------------------- */
.navbar-avatar {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-avatar img {
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
}
@media (max-width: 768px) {
  .navbar-avatar img {
    display: none;
  }
}
