{% extends 'base.html' %}
{% load gravatar %}
{% load staticfiles %}

{% block title %}
GroupFit
{% endblock %}

{% block content %}

<div class="page-header">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        {{ group.name }}
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">

    {% if group.description %}
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            {{ group.description }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title text-center">
              <span class="pull-left"><i class="fa fa-users"></i></span>
              Group Members
            </h1>
          </div>
          <div class="panel-body">
            {% for member in group.members.all %}
              <a href="{{ member.get_absolute_url }}">
                {{ member.user.first_name }} {{ member.user.last_name }}
              </a>
              <br/>
            {% empty %}
            <div class="text-center">
              No members found.
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    {% if user.userprofile in group.members.all %}
    <div class="row">
      <div class="col-lg-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title text-center">
            <span class="pull-left"><i class="fa fa-bars"></i></span>
            Member Newsfeed</h1>
          </div>
          <div class="panel-body">
            News
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">

        <a href="{% url 'groups.views.leave_group' group.pk %}">
        Leave Group
        </a>

      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col-lg-12">

        <div class="panel panel-default">
          <a href="{% url 'groups.views.join_group' group.pk %}"
          class="btn btn-lg btn-block btn-success">
          Join
          </a>
        </div>

      </div>
    </div>
    {% endif %}

  </div>

  <div class="col-md-8">

    {% for goal in group.goals.all %}
    <div class="row">
      <div class="col-lg-12">

        <div class="panel panel-info">
          <div class="panel-heading">
            <h1 class="panel-title">{{ goal.name }}</h1>
          </div>
          <div class="panel-body">
            <p><strong>
              {{ goal.target_date|timeuntil }} remaining!
            </strong></p>
            {% if goal.description %}
            <p>
              <strong><em>{{ goal.description }}</em></strong>
            </p>
            {% endif %}
            <p>
              <strong>Activity:</strong>
              {{ goal.activity }}
            </p>
            <p>
              <strong>Target:</strong>
              {{ goal.amount }} <em>{{ goal.units }}</em>
            </p>
            <canvas id="goalChart" width="100%" height="500"></canvas>
          </div>
        </div>

      </div>
    </div>

    {% empty %}

    <div class="row">
      <div class="col-lg-12">

        <div class="alert alert-danger text-center">
          This group has no goal set! Oh no!
        </div>

      </div>
    </div>

    {% endfor %}

    {% if user.userprofile in group.members.all %}

    <div class="row">
      <div class="col-lg-12">

        <div class="panel panel-default">
          <button class="btn btn-primary btn-lg btn-block" data-toggle="modal"
          data-target="#GoalFormModal">
            <i class="fa fa-plus"></i>
            &nbsp;
            Add Goal
          </button>
        </div>

      </div>
    </div>

    {% endif %}

  </div>

</div>





<!-- goal creation form -->
<div class="modal fade" id="GoalFormModal" tabindex="-1" role="dialog"
aria-labelledby="GoalFormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="register-form" method="post" class="form-horizontal"
      action=""> {% csrf_token %}

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
          aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="GoalFormModalLabel">Create Goal</h4>
        </div>

        <div class="modal-body">

          {% include 'create_goal.html' %}

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" name="submit" class="btn btn-success"
          value="Make Goal"/>
        </div>

      </form>
    </div>
  </div>
</div>


{% if goal_form.errors %}
<script>
$(function() {
  $("#GoalFormModal").modal('show');
});
</script>
{% endif %}
<script>
$(function(){
	var ctx = $("#goalChart").get(0).getContext("2d");
  var goalChart = new Chart(ctx);
  var data = {
	labels : ["January","February","March","April","May","June","July"],
	datasets : [
		{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			pointColor : "rgba(220,220,220,1)",
			pointStrokeColor : "#fff",
			data : [65,59,90,81,56,55,40]
		},
		{
			fillColor : "rgba(151,187,205,0.5)",
			strokeColor : "rgba(151,187,205,1)",
			pointColor : "rgba(151,187,205,1)",
			pointStrokeColor : "#fff",
			data : [28,48,40,19,96,27,100]
		}
	]
	};
	new Chart(ctx).Line(data,options);
	
});	
</script>



{% endblock %}
