
{% extends 'base.html' %}
{% load gravatar %}
{% load staticfiles %}

{% block title %}
GroupFit
{% endblock %}

{% block content %}


<div class="row vertical-offset-100">
  <div class="col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h1 class="panel-title">
          Create a New Playlist
        </h1>
      </div>


        <div class="panel-body">

          <div class="form-group{%if playlist_form.errors%} has-error{%endif%}">
            {% for error in playlist_form.non_field_errors %}
              <span class="col-lg-2 control-label"></span>
              <span class="col-lg-10 help-block">{{error}}</span>
            {% endfor %}
          </div>

          <div class="form-group{%if playlist_form.name.errors%} has-error{%endif%}">
            <label for="{{playlist_form.name.id_for_label}}"
            class="col-lg-3 col-sm-3 control-label">{{playlist_form.name.label}}</label>
            <div class="col-lg-9 col-sm-9">
              {{ playlist_form.name }}
              {% for error in playlist_form.name.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>

      <div id="track-formset">

        {{ track_formset.management_form }}
        {% for track_form in track_formset %}

        <div class="panel panel-default track">

          <div class="panel-heading">
            <h1 class="panel-title">
              New Track
            </h1>
          </div>

          <div class="panel-body">
            
            <div class="form-group{%if track_form.name.errors%} has-error{%endif%}">
              <label for="{{track_form.name.id_for_label}}"
              class="col-lg-3 col-sm-3 control-label">{{track_form.name.label}}</label>
              <div class="col-lg-9 col-sm-9">
                {{ track_form.name }}
                {% for error in track_form.name.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group{%if track_form.artist.errors%} has-error{%endif%}">
              <label for="{{track_form.artist.id_for_label}}"
              class="col-lg-3 col-sm-3 control-label">{{track_form.artist.label}}</label>
              <div class="col-lg-9 col-sm-9">
                {{ track_form.artist }}
                {% for error in track_form.artist.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group{%if track_form.album.errors%} has-error{%endif%}">
              <label for="{{track_form.album.id_for_label}}"
              class="col-lg-3 col-sm-3 control-label">{{track_form.album.label}}</label>
              <div class="col-lg-9 col-sm-9">
                {{ track_form.album }}
                {% for error in track_form.album.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>

          </div>

        </div>

        {% endfor %}

      </div>


      <div class="form-group">
        <div class="col-xs-6">
          <a class="btn btn-primary btn-lg btn-block" href="#" id="extender">
            Add another track!
          </a>
        </div>

        <div class="col-xs-6">
          <input type="submit" class="btn btn-success btn-lg btn-block"
          value="Create Playlist" />
        </div>
      </div>

    </form>
  </div>
</div>

<script>
$(function () {
  $("#extender").click(function() {
    cloneMore("#track-formset .track:last", 'form');
  });
});

function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}

</script>

{% endblock %}
